<app-header></app-header>
<div class="dashboard-container">
  <h1>Watchman Dashboard</h1>
  
  <div class="watchman-controls">
    <app-vehicle-entry (vehicleAdded)="handleVehicleAdded($event)"></app-vehicle-entry>
  </div>
  <br>
  <button mat-raised-button color="primary" (click)="exportToExcel()">
    Export Vehicle Records
  </button>
  <br><br>


  <div class="container">
    <app-vehicle-records></app-vehicle-records>
  </div>
  <app-parking-grid [userRole]="userRole"></app-parking-grid>
</div>